<template src="./template.pug" lang="pug"></template>
<script>
export default {
  name: 'company-info',
  data () {
    return {
      items: [
        {
          id: 1,
          title: 'Miles Davis',
          image: 'https://img.discogs.com/saz25T9xJgOthJLeH0-lQg7jk34=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-23755-1394387343-4500.jpeg.jpg'
        },
        {
          id: 2,
          title: 'Kenny Burrell',
          image: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNpBV6iV60h2HRfy-ai6FB_MWqxFpxGWxO6Km0UO4UAklKytRpig'
        },
        {
          id: 3,
          title: 'Buddy Rich',
          image: 'https://lastfm-img2.akamaized.net/i/u/avatar300s/5ba3d9e8b5cf492886a088974ae727a2.jpg'
        },
        {
          id: 4,
          title: 'Chet baker',
          image: 'http://cdn.musicjazzfree.com/artists/c/chet-baker/chet-baker-5.jpg'
        }
      ]
    }
  }
}
</script>
<style src="./style.styl" lang="stylus"></style>
