<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <CompanyInfo />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import CompanyInfo from '@/components/company-info/index.vue'

export default {
  name: 'home',
  components: {
    HelloWorld,
    CompanyInfo
  }
}
</script>
